.TodaysWeather {
  margin-top: 50%;
}
.TodaysWeather header {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.topRow,
.bottomRow {
  width: 100%;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.box {
  position: relative;
  width: 400px;
  height: 180px;
  background-color: white;
  border-radius: 60px;
  margin: 0 2%;
}
.box:hover {
  transform: translateY(2px);
  cursor: pointer;
}
