.header {
  margin: 60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  color: white;
}
.icon:hover {
  transform: translateX(2px);
  cursor: pointer;
}
@media screen and (max-width: 1083px) {
  .header {
    margin: 60px 40px;
  }
}
