.layout {
  width: 90%;
  border-radius: 60px;
  height: 95rem;
  background-color: #5c9ce5;
  margin: 120px auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  width: 30%;
  height: 100%;
  position: relative;
}
.container2 {
  border-radius: 60px;
  width: 70%;
  height: 100%;
  background-color: #e4f1ff;
}
.userdetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 30px;
  position: relative;
}
.avatar img {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 30%;
  margin-left: 20px;
}
.icon {
  position: absolute;
  right: 100px;
  top: 40%;
}
.welcome h3 {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 5px;
}
.welcome p {
  font-size: 18px;
  font-weight: 600;
}
.icon:hover {
  cursor: pointer;
  transform: translateY(2px);
}
.avatar img:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
