.humidity {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 5px 40px;
}
.humidity p {
  font-weight: bold;
  font-size: 22px;
}
.icon {
  background-color: #5c9ce5;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.muiicon {
  color: white;
}
.percentage {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.percentage span {
  font-weight: lighter;
  font-size: 18px;
}
.rating {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  align-items: center;
  text-align: center;
}
.progres,
.progres1 {
  margin: 8px 0px;
  height: 8px;
  width: 60px;
  border-radius: 40px;
  background-color: #5c9ce5;
}
.progres1 {
  background-color: grey;
}
.badprogres {
  height: 8px;
  width: 40px;
  border-radius: 10px;
  background-color: #5c9ce5;
}
@media screen and (max-width: 1083px) {
  .humidity p {
    font-size: 18px;
  }
  .humidity {
    margin: 18px;
  }
  .rating {
    margin: 0px 15px;
  }
  .progres,
  .progres1 {
    width: 45px;
  }
  .badprogres {
    width: 30px;
  }
}
