.humidity {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 5px 20px;
}
.humidity p {
  font-weight: bold;
  font-size: 22px;
}
.icon {
  background-color: #5c9ce5;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.muiicon {
  color: white;
}
.percentage {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 10px 20px;
}
.time p {
  font-size: 12px;
}
.bgblue,
.prepdiv,
.halffill {
  width: 12px;
  height: 10px;
  background-color: #5c9ce5;
  border-radius: 20px;
}
.prepdiv {
  background-color: gray;
}
.halffill {
  width: 6px;
  border-radius: 40px;
}
@media screen and (max-width: 1083px) {
  .humidity p {
    font-size: 18px;
  }
  .humidity {
    margin: 18px;
  }
  .time {
    margin: 10px 2px 10px 2px;
  }
}
